{% block content %}
{% for collection in mycollections %}
    <h2>{{ collection.name }}</h2>
    <ul>
        {% for item in collection.item_set.all %}
        <li>{{ item.name }} </li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}

